*{
	margin: 0;
	padding: 0;
	}
	body {font-family: gill sans, sans-serif; font-weight: lighter; color:antiquewhite;}
	.navbar {
		display: flex;
		position: sticky;
		align-items: center;
		justify-content: space-between;
		top: 0px;
		background: #753367;
		background-blend-mode: overlay;
		background-size: cover;
		color: white; 
		padding: 10px 20 px;
	}
	.nav-list { 
		display: flex;
		list-style: none;
		}
	.nav-list li {
		margin-right: 20px;
	}
	.nav-list li:last-child {
		margin-right: 0;
	}
	.nav-list li a{
		text-decoration: none;
		color: white;
		font-size: 18px;
		transition: color 0.3s ease-in-out;
	}
	.nav-list li a:hover {
		color: #738276;
	/*Change the color on hover */
	}
	.rightNav {
		text-align: right;
	}
	#search {
		padding: 8px;
		font-size: 16px;
		border: 2px solid #fff;
		border-radius: 5px;
	}
	.btn {
		background-color: #b768a2;
		color: #000;
		border: none;
		padding: 8px 12px;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
	}
	.btn:hover {
		background-color: #000;
	/*Change background color on hover*/
		color: #b768a2}
	
	section{
		height: 100vh; background-color: rgb(193, 228, 217);
		border: 1px solid rgb(54, 45, 45);
		display: flex;
		justify-content: center;
		align-items: center;	
		
	}
	.Container img{
		height: 160px;
		border-radius: 60%;
		background-color:#c9adc1;
	}
	.container h2{
		margin-top: 3%;
		font-size: 3em;
		font-family: gill sans, sans-serif; font-weight: lighter; color:antiquewhite;;
		background-color: #bfc1c2;
		text-align: center;
	}
	
	.container p, ul{
		margin-top: 2%;
		font-size: 1.5em;
		list-style-type: square;
		background-color: #d9e8f0;
		text-align: center;
	}

	
	footer {
	line-height: 40px; 
	display: flex;
	justify-content: center;
	font-size: 1em;
	}
