*,
2	*::after,
3	*::before {
4	  margin: 0;
5	  padding: 0;
6	  box-sizing: inherit; 
7	}
8	html, body { 
9	  font-family: "Noto Serif", system-ui;
10	  font-style: normal;
11	  font-variation-settings:
12	    "wdth" 100;
13	    font-size: 24px;
14	        width: fit-content;
15	        min-height: 100vh;
16	        display: block;
17	        place-content: start;
18	        place-items: flex-start left;
19	}
26	    }
27	/*Navigation Bar */
28	nav {
29	    margin: 27px auto 0;
30	    position: relative;
31	    width: 590px;
32	    height: 50px;
33	    background-color: #34495e;
34	    border-radius: 8px;
35	    font-size: 0;
36	    display: flex;
37	}
38	nav a {
39	    line-height: 50px;
40	    height: 100%;
41	    font-size: 15px;
42	    display: inline-block;
43	    position: relative;
44	    z-index: 1;
45	    text-decoration: none;
46	    text-transform: uppercase;
47	    text-align: center;
48	    color: white;
49	    cursor: pointer;
50	}
51	nav .animation {
52	    position: absolute;
53	    height: 100%;
54	    top: 0;
55	    z-index: 0;
56	    transition: all .5s ease 0s;
57	    border-radius: 8px;
58	}
59	a:nth-child(1) {
60	    width: 100px;
61	}
62	a:nth-child(2) {
63	    width: 100px;
64	}
65	a:nth-child(3) {
66	    width: 100px;
67	}
68	a:nth-child(4) {
69	    width: 100px;
70	}
71	nav .start-home,
72	a:nth-child(1):hover ~ .animation {
73	    width: 100px;
74	    left: 0;
75	    background-color: #1abc9c;
76	}
77	nav .start-about,
78	a:nth-child(2):hover ~ .animation {
79	    width: 100px;
80	    left: 100px;
81	    background-color: #e74c3c;
82	}
83	nav .start-gallery,
84	a:nth-child(3):hover ~ .animation {
85	    width: 100px;
86	    left: 210px;
87	    background-color: #3498db;
88	}
89	nav .start-contact,
90	a:nth-child(4):hover ~ .animation {
91	    width: 160px;
92	    left: 310px;
93	    background-color: #9b59b6;
94	}
95	.rightNav {
96	    text-align: right;
97	    float: right;
98	}
99	#search {
100	    padding: 8px;
101	    font-size: 16px;
102	    border: 2px solid #fff;
103	    border-radius: 5px;
104	}
105	.btn {
106	    background-color: #b768a2;
107	    color: #000;
108	    border: none;
109	    padding: 8px 12px;
110	    border-radius: 5px;
111	    cursor: pointer;
112	    transition: background-color 0.3s ease-in-out;
113	}
114	.btn:hover {
115	    background-color: #000;
116	/*Change background color on hover*/
117	    color: #b768a2}    
118	    section {
119	    height: 50vh; background-color: rgb(193, 228, 217);
120	    border: 1px solid rgb(203, 175, 206);
121	    display: flex;
122	    justify-content: center;
123	    align-items: center;    
124	}
125	.h1
126	h1 {
127	    text-align: center;
128	    margin: 40px 0 40px;
130	    font-size: 20px;
131	    color: #ecf0f1;
132	    text-shadow: 2px 2px 4px #000000;
133	    font-family: "Cherry Swash", cursive;
134	}
135	
136	            
137	.container p, ul{
138	    margin-top: 2%;
139	    font-size: 1.5em;
140	    list-style-type: horizontal;
141	    background-color: #acf8f2;
142	    text-align: center;
143	}
144	.astrodivider {
145	  margin: 64px auto;
146	  width: 400px;
147	  max-width: 100%;
148	  position: relative;
149	}
150	.astrodividermask {
151	  overflow: hidden;
152	  height: 20px;
153	}
154	
155	.astrodividermask:after {
156	  content: "";
157	  display: block;
158	  margin: -25px auto 0;
159	  width: 100%;
160	  height: 25px;
161	  border-radius: 125px / 12px;
162	  box-shadow: 0 0 8px #049372;
163	}
164	
165	.astrodivider span {
166	  width: 50px;
167	  height: 50px;
168	  position: absolute;
169	  bottom: 100%;
170	  margin-bottom: -25px;
171	  left: 50%;
172	  margin-left: -25px;
173	  border-radius: 100%;
174	  box-shadow: 0 2px 4px #4fb39c; /* Tint 3 of main color */
175	  background: #fff;
176	}
177	.astrodivider i {
178	  position: absolute;
179	  top: 4px;
180	  bottom: 4px;
181	  left: 4px;
182	  right: 4px;
183	  border-radius: 100%;
184	  border: 1px dashed #68beaa; /* Tint 4 of main color */
185	  text-align: center;
186	  line-height: 40px;
187	  font-style: normal;
188	  color: #049372; /* main color */
189	}
190	
191	/* Purple */
192	
193	.purple .astrodividermask:after {
194	  box-shadow: 0 0 8px #886fac; /* main color */
195	}
196	
197	.astrodivider.purple span {
198	  box-shadow: 0 2px 4px #ab9ac4; /* tint 3 of main color */
199	}
200	.astrodivider.purple i {
201	  border: 1px dashed #b7a8cd; /* tine 4 of main color */
202	  color: #886fac; /* main color */
203	}
204	
205	/* Neon Purple */
206	
207	.neonpurple .astrodividermask:after {
208	  box-shadow: 0 0 8px #9d00ff; /* main color */
209	}
210	.astrodivider.neonpurple span {
211	  box-shadow: 0 2px 4px #ba4cff; /* tint 3 of main color */
212	}
213	.astrodivider.neonpurple i {
214	  border: 1px dashed #c466ff; /* tine 4 of main color */
215	  color: #9d00ff; /* main color */
216	}
.image-grid {
	--gap: 10px;
	--num-cols: 4;
	--row-height: 150px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-col-4 {
	grid-column: span 3;
}

.image-grid-row-3 {
	grid-row: span 3;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 4;
		--row-height: 150px;
	}
}
  .wrapper{
	    display:inline-flex;
	  }
	  .wrapper .icon{
	    margin: 0 20px;
	    cursor:pointer;
332	    display:flex;
333	    align-items:center;
334	    justify-content:center;
335	    flex-direction:column;
336	    position: relative;
337	    z-index:2;
338	  }
339	  .wrapper .icon span{
340	    position:relative;
341	    z-index:2;
342	    height: 60px;
343	    width: 60px;
344	    display:block;
345	    background: #fff;
346	    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
347	    border-radius:50%;
348	    text-align:center;
349	    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
350	  }
351	  .wrapper .icon span i{
352	    font-size:25px;
353	    line-height:60px;
354	  }
355	  .wrapper .icon .tooltip{
356	    position:absolute;
357	    top:0px;
358	    background: #fff;
359	    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
360	    font-size: 20px;
361	    padding: 10px 18px;
362	    border-radius: 25px;
363	    color:white;
364	    opacity:0;
365	    pointer-events: none;
366	    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
367	  }
368	  .wrapper .icon:hover .tooltip{
369	    opacity:1;
370	    pointer-events: auto;
371	    top:-70px;
372	  }
373	  .wrapper .icon .tooltip:before{
374	    position:absolute;
375	    content:"";
376	    height:15px;
377	    width:15px;
378	    bottom:-8px;
379	    left:50%;
380	    transform: translateX(-50%) rotate(45deg);
381	  }
382	  .wrapper .icon:hover span,
383	  .wrapp .icon:hover .tooltip{
384	    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
385	  }
386	  .wrapper .icon:hover span{
387	    color: #fff;
388	  }
389	  .wrapper .facebook:hover span,
390	  .wrapper .facebook:hover .tooltip,
391	  .wrapper .facebook:hover .tooltip:before{
392	    background:#3B5999;
393	  }
394	  .wrapper .instagram:hover span,
395	.wrapper .instagram:hover .tooltip,
396	.wrapper .instagram:hover .tooltip:before{
397	  background:#46C1F6;
398	}
399	.wrapper .github:hover span,
400	.wrapper .github:hover .tooltip,
401	.wrapper .github:hover .tooltip:before{
402	  background:#333;
403	}
404	.wrapper .email:hover span,
405	.wrapper .email:hover .tooltip,
406	.wrapper .email:hover .tooltip:before{
407	  background:#7e26b9;
408	}
409	    
410	    footer {
411	        line-height: 40px; 
412	        display: flex;
413	        justify-content: center;
414	        font-size: 1em;
415	    }

