@import url(https://fonts.googleapis.com/css?family=Noto:300,400,700);body,html { block-size:100%; margin:0; background-size:cover; background-position:center; padding:20px; font-family:serif; font-weight:100; inline-size:80%; block-size:400px } 
.container { position:absolute; inset-block-start:50%; inset-inline-start:50%; transform:translate(-50%,-50%) } 
table { position:fixed; inline-size:800px; border-collapse:separate; border-spacing:5px; overflow:hidden; box-shadow:0 0 20px rgba(0,0,0,.1) } 
td,th { padding:15px; background-color:rgba(255,255,255,.2); color:#fff } 
th { text-align:start } 
td { position:relative; inline-size:400px; max-inline-size:100%; position:relative } 
.astrodividermask { overflow:hidden; block-size:20px } 
.astrodividermask:after { content:""; display:block; margin:-25px auto 0; inline-size:100%; block-size:25px; border-radius:125px/12px; box-shadow:0 0 8px #049372 } 
.astrodivider span { inline-size:50px; block-size:50px; position:absolute; inset-block-end:100%; margin-block-end:-25px; inset-inline-start:50%; margin-inline-start:-25px; border-radius:100%; box-shadow:0 2px 4px #4fb39c; background:#fff } 
.astrodivider i { position:absolute; inset-block-start:4px; inset-block-end:4px; inset-inline-start:4px; inset-inline-end:4px; border-radius:100%; border:1px dashed #68beaa; text-align:center; line-height:40px; font-style:normal; color:#049372 } 
.purple .astrodividermask:after { box-shadow:0 0 8px #886fac } 
.astrodivider.purple span { box-shadow:0 2px 4px #ab9ac4 } 
.astrodivider.purple i { border:1px dashed #b7a8cd; color:#886fac } 
.neonpurple .astrodividermask:after { box-shadow:0 0 8px #9d00ff } 
.astrodivider.neonpurple span { box-shadow:0 2px 4px #ba4cff } 
.astrodivider.neonpurple i { border:1px dashed #c466ff; color:#9d00ff } 
footer { line-height:40px; display:flex; justify-content:center; font-size:1em } 
