*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

body,
html {
  font-family: "Noto Serif", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: wdth 100;
  font-size: 48px;
  inline-size: fit-content;
  min-block-size: 100vh;
  display: grid;
  place-content: center;
  place-items: flex-start center
}

spanImage {
  background-image: url(.Images/abstractbg.jpg);
  background-repeat: no-repeat;
  position: absolute;
  inline-size: 50%;
  block-size: 100%
}

nav {
  margin: 27px auto 0;
  position: relative;
  inline-size: 590px;
  block-size: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  display: flex
}

nav a {
  line-height: 60px;
  block-size: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer
}

nav .animation {
  position: absolute;
  block-size: 100%;
  inset-block-start: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px
}

a:nth-child(1) {
  inline-size: 60px
}

a:nth-child(2) {
  inline-size: 60px
}

a:nth-child(3) {
  inline-size: 60px
}

a:nth-child(4) {
  inline-size: 60px
}

a:nth-child(1):hover~.animation,
nav .start-home {
  inline-size: 100px;
  inset-inline-start: 0;
  background-color: #1abc9c
}

a:nth-child(2):hover~.animation,
nav .start-about {
  inline-size: 100px;
  inset-inline-start: 100px;
  background-color: #e74c3c
}

a:nth-child(3):hover~.animation,
nav .start-gallery {
  inline-size: 100px;
  inset-inline-start: 210px;
  background-color: #3498db
}

a:nth-child(4):hover~.animation,
nav .start-contact {
  inline-size: 160px;
  inset-inline-start: 310px;
  background-color: #9b59b6
}

.rightNav {
  text-align: end;
  float: inline-end
}

#search {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px
}

.btn {
  background-color: #b768a2;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease-in-out
}

.btn:hover {
  background-color: #000;
  color: #75f575
}

section {
  block-size: 50vh;
  background-color: linear-gradient(rgb(18, 236, 207));
  border: 1px solid #cbafce;
  display: flex;
  inline-size: fit-content;
  justify-content: space-evenly;
  align-items: start;
}

.h1 h1 {
  text-align: center;
  margin: 40px 0 40px;
  font-size: 20px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000;
  font-family: "Cherry Swash", cursive
}

.container p,
ul {
  margin-block-start: 2%;
  font-size: 1.5em;
  list-style-type: horizontal;
  background-color: #acf8f2;
  text-align: center
}
.h2 h2 {
  text-align: center;
  margin: 40px 0 40px;
  font-size: 40px;
  color: #e7d9f8;
  text-shadow: 2px 2px 4px #000;
  font-family: Noto, serif
}
.container p,
ul {
  margin-block-start: 2%;
  font-size: 1.5em;
  list-style-type: horizontal;
  background-color: #19a599;
  text-align: start;
  margin: 0;
  padding: 0;
  list-style-type: none

table {
  position: fixed;
  inline-size: 800px;
  border-collapse: separate;
  border-spacing: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

td,
th {
  padding: 15px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff
}

th {
  text-align: start
}

td {
  position: relative;
  inline-size: 400px;
  max-inline-size: 100%;
  position: relative
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  inline-size: 100%;
  block-size: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px #049372
}

.astrodivider span {
  inline-size: 50px;
  block-size: 50px;
  position: absolute;
  inset-block-end: 100%;
  margin-block-end: -25px;
  inset-inline-start: 50%;
  margin-inline-start: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #4fb39c;
  background: #fff
}

.astrodivider i {
  position: absolute;
  inset-block-start: 4px;
  inset-block-end: 4px;
  inset-inline-start: 4px;
  inset-inline-end: 4px;
  border-radius: 100%;
  border: 1px dashed #68beaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #049372
}

.purple .astrodividermask:after {
  box-shadow: 0 0 8px #886fac
}

.astrodivider.purple span {
  box-shadow: 0 2px 4px #ab9ac4
}

.astrodivider.purple i {
  border: 1px dashed #b7a8cd;
  color: #886fac
}

.neonpurple .astrodividermask:after {
  box-shadow: 0 0 8px #9d00ff
}

.astrodivider.neonpurple span {
  box-shadow: 0 2px 4px #ba4cff
}

.astrodivider.neonpurple i {
  border: 1px dashed #c466ff;
  color: #9d00ff
}

footer {
  line-height: 40px;
  display: block;
  place-content: start;
  place-items: flex-start left;
  font-size: 1em
}
