@import "compass/css3";

//* More practical CSS...
//* using mobile first method (IE8,7 reqiores respond.js polyfill https://github.com/scottjehl/Respond)*//

$breakpoint-alpha: 480px; //* adjust to your needs*//

.media-table {
	margin: 1em 0;
	min-width: 300px;
th { 
	display: none;
	border-style: outset;
	border-color: #96D4D4;
}

td {
	display: block;
&:first-child {
padding-top: .4em;
padding-right: .9em;	
border-style: outset;
border-color: #96D4D4;
}

&:before {
	content: attr(data-th)":";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;

@media (min-width: $breakpoint-alpha) {
	display: none;
}
}
}
th, td {
	text-align: left;
	 border-style: outset;
	
@media (min-width: $breakpoint-alpha)
{
	display: table-cell;
	padding: .40em .5em;

&:first-child {
	padding-left: 0;
}

&:last-child {
	padding-right: 0;
}
}
}

//*presentational styling*//
@import 'https://fonts.googleapis.com/css?family=Noto:300,400,700';		

body {
	padding: 0 4em;
	font-family: Noto, serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #aaa4e0;
	color: #fac1ee;
}

h1 {
	font-weight: normal;
	letter-spacing: 01px;
	color: #ecf0f1;
	 text-align: center;
	margin: 40px 0 40px;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;
	font-family: "Cherry Swash", cursive;
}

.media-table {
	background: #aaa4e0;
color: #fac1ee;
border-radius: .4em;
overflow: hidden;
tr {
	border-color: lighten(#aaa4e0, 10%);
}
th, td {
	margin: .5em 1em;
@media (min-width: $breakpoint-alpha)
padding: 1em;
border-style: outset;
border-color: #96D4D4;
}
}
th, td:before {
	color: #dd5;
}   	            
	.container p{
	    margin-top: 2%;
	    font-size: 1.5em;
	    list-style-type: horizontal;
	    background-color: #acf8f2;
	    text-align: center;
	}
	.astrodivider {
	  margin: 64px auto;
	  width: 400px;
	  max-width: 100%;
	  position: relative;
	}
	.astrodividermask {
	  overflow: hidden;
	  height: 20px;
	}
	
	.astrodividermask:after {
	  content: "";
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px / 12px;
	  box-shadow: 0 0 8px #049372;
	}
	
	.astrodivider span {
	  width: 50px;
	  height: 50px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -25px;
	  left: 50%;
	  margin-left: -25px;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #4fb39c; /* Tint 3 of main color */
	  background: #fff;
	}
	.astrodivider i {
	  position: absolute;
	  top: 4px;
	  bottom: 4px;
	  left: 4px;
	  right: 4px;
	  border-radius: 100%;
	  border: 1px dashed #68beaa; /* Tint 4 of main color */
	  text-align: center;
	  line-height: 40px;
	  font-style: normal;
	  color: #049372; /* main color */
	}
	
	/* Purple */
	
	.purple .astrodividermask:after {
	  box-shadow: 0 0 8px #886fac; /* main color */
	}
	
	.astrodivider.purple span {
	  box-shadow: 0 2px 4px #ab9ac4; /* tint 3 of main color */
	}
	.astrodivider.purple i {
	  border: 1px dashed #b7a8cd; /* tine 4 of main color */
	  color: #886fac; /* main color */
	}
	
	/* Neon Purple */
	
	.neonpurple .astrodividermask:after {
	  box-shadow: 0 0 8px #9d00ff; /* main color */
	}
	.astrodivider.neonpurple span {
	  box-shadow: 0 2px 4px #ba4cff; /* tint 3 of main color */
	}
	.astrodivider.neonpurple i {
	  border: 1px dashed #c466ff; /* tine 4 of main color */
	  color: #9d00ff; /* main color */
	}
footer {
	        line-height: 40px; 
	        display: flex;
	        justify-content: center;
	        font-size: 1em;	    
}
